<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">RecipesToGo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle"
                    data-toggle="dropdown" id="navbarDropdownMenuLink">
                        {{#if user}}
                            {{user.username}}
                        {{else}}
                            User
                        {{/if}}
                    </a>
                    <div class="dropdown-menu">
                        {{#if user}}
                            <a href="/user/logout" class="dropdown-item">Logout</a>
                            <a href="/recipes/show" class="dropdown-item">Show recipes</a>
                            <a href="/recipes/add" class="dropdown-item">Add recipe</a>
                        {{else}}
                            <a href="/user/login" class="dropdown-item">Login</a>
                            <a href="/user/register" class="dropdown-item">Register</a>
                        {{/if}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>