<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- the Manifest adds the possibility to create an offline application-->
    <link rel="manifest" href="/manifest.json">
    {{> _mainCSS}}
    <title>{{title}}</title>
</head>
<body>
    {{> _navbar}}
<div class="container">
    {{{body}}}
</div>
    {{> _mainScripts}}
</body>
</html>