<div class="jumbotron text-center">
    <h1 class="display-3">Recipe To Go</h1>
    <p class="lead">Save your recipes and generate shoppinglists!</p>
    <p class="lead">(shoppinglists are not implemented. :P)</p>
    {{#if user}}
        <div class="form-group form-row">
            <a href="/recipes/add" class="btn btn-primary btn-lg col">Add new recipe</a>
            <a href="/recipes/show" class="btn btn-secondary btn-lg col">Show recipes</a>
        </div>
    {{else}}
        <a href="/user/login" class="btn btn-dark btn-lg">Login</a>
        <a href="/user/register" class="btn btn-dark btn-lg">Register</a>
    {{/if}}

</div>
{{> _serviceWorker }}
