<div class="jumbotron text-center" xmlns:display="http://www.w3.org/1999/xhtml">
    <h1 class="display-3 form-group">Login</h1>
    <form action="/user/login" method="POST">
        <div class="form-group form-row">
            <input class="form-control col" type="text" name="username" autofocus placeholder="username">
            <input class="form-control col" type="password" name="password" placeholder="password">
        </div>
        <button class="btn btn-primary btn-block">Login</button>
    </form>
</div>