<div class="jumbotron text-center" xmlns:display="http://www.w3.org/1999/xhtml">

    <h1 class="display-3">{{title}}</h1>
    <form action="/recipes" method="post">
        <div class="form-group">
            <label for="name" class="col-form-label">Name</label>
            <input type="text" class="form-control" name="name" required>
        </div>
        <div class="form-group">
            <label for="instructions" class="col-form-label">Instructions</label>
            <textarea type="text" class="form-control" name="instructions" required></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="personalNotes">Notes</label>
                <textarea type="text" class="form-control" name="personalNotes"></textarea>
            </div>
        </div>
        <div class="input-group col-md-12">
            <label for="persons" class="col-md-8 col-form-label  text-md-right">Number of persons: </label>
            <input type="number" class="col-md-4 form-control" name="persons" value="2">
        </div>
        <div id="ingContainer">
            <div class="form-group row" id="ingRow0">
                <input type="text" class="form-control col-md-7 col-form-label"
                       name="ingredients[0][ingName]" placeholder="Ingredient">
                <input type="number" class="form-control col-md-2" name="ingredients[0][ingCount]"
                       value="1">
                <select class="form-control col-md-2" name="ingredients[0][ingCountMetric]">
                    <option value="unit">unit(s)</option>
                    <option value="cup">cup</option>
                    <option value="liter">liter</option>
                    <option value="gram">gram</option>
                    <option value="tablespoon">tablespoon</option>
                </select>
                <button type="button" class="col-sm btn btn-danger btn-block text-center"
                        onclick="deleteIngredient('ingRow0')">Del
                </button>
            </div>
        </div>
        <input type="button" value="Add another Ingredient" class="form-group btn btn-primary col-md-12"
               id="addButton"
               onClick="addInput();">
        <button type="submit" class="btn btn-success col-md-12" onclick=>Submit</button>
    </form>
</div>
<script>
    function deleteIngredient(ingID) {
        const ID = "#" + ingID;
        $(String(ID)).remove();
    }

    let counter = 0;
    const max = 25;

    function addInput() {
        const parent = '#ingContainer';

        if (counter === max) {
            window.alert('Maximum Number of Ingredients reached. Sometimes.. less is more!');
            return
        }
        let thisElement = 'ingRow' + ++counter;
        let div = document.createElement('div');
        div.className = "form-group row";
        div.id = thisElement;
        div.innerHTML = '<input type="text" class="form-control col-md-7 col-form-label"\n' +
                '                       name="ingredients[' + counter + '][ingName]" placeholder="Ingredient">\n' +
                '                <input type="number" class="form-control col-md-2" name="ingredients[' + counter + '][ingCount]"\n' +
                '                       value="1">\n' +
                '                <select class="form-control col-md-2" name="ingredients[' + counter + '][ingCountMetric]">\n' +
                '                    <option value="unit">unit(s)</option>\n' +
                '                    <option value="cup">cup</option>\n' +
                '                    <option value="liter">liter</option>\n' +
                '                    <option value="gram">gram</option>\n' +
                '                    <option value="tablespoon">tablespoon</option>\n' +
                '                </select>\n' +
                '                <button type="button" class="col-md-1 btn btn-danger btn-block"\n' +
                '                        onclick="deleteIngredient(\'ingRow' + counter + '\')">Del\n' +
                '                </button>\n';
                $(parent).append(div)
    }
</script>