<div class="jumbotron text-center" xmlns:display="http://www.w3.org/1999/xhtml">
    <h1 class="display-3">{{title}}</h1>
    <div id="Recipes Container">
        <form action="/recipes/{{recipe._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div id="{{recipe._id}}">
                <input style="display: none" name="_id" value={{recipe._id}}>
                <div class="form-group row">
                    <label for="name" class="col-md-3 col-form-label">Recipe Name:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="name" value="{{recipe.name}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="personalNotes" class="col-md-3 col-form-label">Perosnal notes:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="personalNotes" value="{{recipe.personalNotes}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="instructions" class="col-md-3 col-form-label">Instructions:</label>
                    <div class="col-md-9">
                        <textarea type="text" class="form-control"
                                  name="instructions">{{recipe.instructions}}</textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="persons" class="col-md-3 col-form-label">Number of Persons:</label>
                    <div class="col-md-9">
                        <input type="number" class="form-control" name="persons" value="{{recipe.persons}}">
                    </div>
                </div>
                <div id="ingredients-container">
                    {{#each recipe.ingredients}}
                        <div class="form-group row" id="{{_id}}">
                            <input style="display: none" name="ingredients[{{@index}}][_id]" value="{{_id}}">
                            <input type="text" class="form-control col-md col-form-label"
                                   name="ingredients[{{@index}}][ingName]"
                                   value="{{ingName}}">
                            <input type="number" class="form-control col-md-2" name="ingredients[{{@index}}][ingCount]"
                                   value="{{ingCount}}">
                            <select class="form-control col-md-2" name="ingredients[{{@index}}][ingCountMetric]">
                                <option value="{{ingCountMetric}}">{{ingCountMetric}}</option>
                                <option value="unit">unit(s)</option>
                                <option value="cup">cup</option>
                                <option value="liter">liter</option>
                                <option value="gram">gram</option>
                                <option value="tablespoon">tablespoon</option>
                            </select>
                            <button type="button" class="col-md-1 btn btn-danger btn-block"
                                    onclick="delIngredient('{{_id}}')">Del
                            </button>
                        </div>
                    {{/each}}
                </div>

            </div>
            <button type="button" class="col-md btn btn-primary btn-block" onclick="addIngredient()">
                Add Ingredient
            </button>
            <button class="col-md btn btn-block btn-success">Save Changes</button>
        </form>
    </div>
</div>
<script>
    function delIngredient(ingID) {
        console.log(ingID);

        const ID = "#" + ingID;
        $(String(ID)).remove();
    }

    let counter = {{recipe.ingredients.length}};

    function addIngredient() {
        let thisElement = "ingRow" + String(counter);
        let div = document.createElement('div');
        div.className = "form-group row";
        div.id = thisElement;
        div.innerHTML = '<input type="text" class="form-control col-md col-form-label" name="ingredients[' + counter + '][ingName]" placeholder="Kartoffeln">\n' +
                '        <input type="number" class="form-control col-md-2" name="ingredients[' + counter + '][ingCount]" value="1">\n' +
                '        <select class="form-control col-md-2" name="ingredients[' + counter + '][ingCountMetric]">\n' +
                '                <option value="unit">unit(s)</option>\n' +
                '                <option value="cup">cup</option>\n' +
                '                <option value="liter">liter</option>\n' +
                '                <option value="gram">gram</option>\n' +
                '                <option value="tablespoon">tablespoon</option>\n' +
                '         </select>\n' +
                '         <button type="button" class="col-md-1 btn btn-danger btn-block" onclick="delIngredient(\'' + thisElement + '\')">\n' +
                '                            Del\n' +
                '         </button>';
        $('#ingredients-container').append(div);
    }
</script>