<div class="jumbotron text-center" xmlns:display="http://www.w3.org/1999/xhtml">
    <h1 class="display-3">{{title}}</h1>
    <div id="Recipes Container">
        {{#each recipes}}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted  text-left">Instructions: </h6>
                    <p class="card-text text-left">{{instructions}}</p>
                    <h6 class="card-subtitle mb-2 text-muted  text-left">Personal notes: </h6>
                    <p class="card-text  text-left">{{personalNotes}}</p>
                    <h6 class="card-subtitle mb-2 text-muted  text-left">Number of persons: </h6>
                    <p class="card-text  text-left">{{persons}}</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Ingredient</th>
                            <th scope="col">Amount</th>
                        </tr>
                        </thead>
                        {{#each ingredients}}
                            <tbody>
                            <tr>
                                <th scope="row">{{ingName}}</th>
                                <td>{{ingCount}} {{ingCountMetric}}</td>
                            </tr>
                            </tbody>
                        {{/each}}
                    </table>
                    <a href="/recipes/edit/{{_id}}" class="col-md-auto btn btn-dark btn-block">Edit recipe</a>
                    <form action="/recipes/show/{{_id}}?_method=DELETE" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="col-md-auto btn btn-danger btn-block">Delete</button>
                    </form>
                </div>
            </div>
        {{else}}
            <p class="text-danger alert-danger">You didnt save any recipes to the database!</p>
        {{/each}}
    </div>
</div>